
.app-wrapper {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-areas: 
  "h h h h"
  "m c c c"
  "f f f f";
  grid-template-rows: 60px auto 40px;
  grid-template-columns: 2fr 10fr;
}
.header {
  grid-area: h;
  background-color: aqua;
}
.mainMenu {
  grid-area: m;
  background-color: beige;
}
.content{
  grid-area: c;
  background-image: url(./assets/molekuly-bliki-svyazi.jpg);
}

.footer{
  grid-area: f;
  background-color: black;
}